@media print
  .print-body
    width: 90%;
    border-spacing: 10px
    margin: 0 auto;
    .contacts-table-cell
      vertical-align: top
      width: 50%
      border: 1px solid black
      .contact-wrapper
        margin: 5px
        .contact-name
          font-size: 36px
          text-align: left	
        .contact-detail-icon
          margin-right: 7px
        .contact-location-icon
          padding-top: 12px
          align-self: flex-start
        .contact-address-wrapper
          display: flex
          flex-direction: column
          justify-content: flex-start	
          margin-left: -12px
          .contact-address
            text-align: left
            align-self: flex-start
          .contact-address-details
            margin-top: -12px
            text-align: left
            align-self: flex-start
