.side-by-side-space_between-end
	display: flex
	justify-content: space-between
	align-items: flex-end

.side-by-side-start
	display: flex
	justify-content: flex-start

.side-by-side-start-end
	display: flex
	justify-content: flex-start
	align-items: flex-end

@media print
	.side-by-side-start-center
		display: flex
		justify-content: flex-start
		align-items: center
