.toggle-wrapper {
  display: inline-block;
  margin: 0.5em auto; }
  .toggle-wrapper label {
    padding: 0.3em;
    font-size: 17px;
    display: block; }

.toggleContainer {
  width: 100%;
  position: relative;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 6px; }
  .toggleContainer .toggleOption {
    display: inline-block;
    position: relative;
    z-index: 1;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    color: #807b77;
    font-size: 1em;
    width: auto !important;
    padding: 5px 16px; }
  .toggleContainer .toggleOption.selected {
    color: #ffffff;
    cursor: initial; }
  .toggleContainer .toggle {
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 0;
    transition: all 0.4s ease-in-out;
    background: #9C27B0;
    border-radius: 6px; }

.optionDisabled {
  background: #e6e6e6;
  cursor: no-drop !important; }

@keyframes toastify-bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0); }
  75% {
    transform: translate3d(10px, 0, 0); }
  90% {
    transform: translate3d(-5px, 0, 0); }
  to {
    transform: none; } }

.toastify-bounceInRight, .toast-enter--top-right, .toast-enter--bottom-right {
  animation-name: toastify-bounceInRight; }

@keyframes toastify-bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0); }
  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0); } }

.toastify-bounceOutRight, .toast-exit--top-right, .toast-exit--bottom-right {
  animation-name: toastify-bounceOutRight; }

@keyframes toastify-bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0); }
  75% {
    transform: translate3d(-10px, 0, 0); }
  90% {
    transform: translate3d(5px, 0, 0); }
  to {
    transform: none; } }

.toastify-bounceInLeft, .toast-enter--top-left, .toast-enter--bottom-left {
  animation-name: toastify-bounceInLeft; }

@keyframes toastify-bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0); }
  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0); } }

.toastify-bounceOutLeft, .toast-exit--top-left, .toast-exit--bottom-left {
  animation-name: toastify-bounceOutLeft; }

@keyframes toastify-bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0); }
  75% {
    transform: translate3d(0, 10px, 0); }
  90% {
    transform: translate3d(0, -5px, 0); }
  to {
    transform: translate3d(0, 0, 0); } }

.toastify-bounceInUp, .toast-enter--bottom-center {
  animation-name: toastify-bounceInUp; }

@keyframes toastify-bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0); }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0); }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0); } }

.toastify-bounceOutUp, .toast-exit--top-center {
  animation-name: toastify-bounceOutUp; }

@keyframes toastify-bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0); }
  75% {
    transform: translate3d(0, -10px, 0); }
  90% {
    transform: translate3d(0, 5px, 0); }
  to {
    transform: none; } }

.toastify-bounceInDown, .toast-enter--top-center {
  animation-name: toastify-bounceInDown; }

@keyframes toastify-bounceOutDown {
  20% {
    transform: translate3d(0, 10px, 0); }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0); }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0); } }

.toastify-bounceOutDown, .toast-exit--bottom-center {
  animation-name: toastify-bounceOutDown; }

.toastify-animated {
  animation-duration: 0.75s;
  animation-fill-mode: both; }

.toastify {
  z-index: 9999999;
  position: fixed;
  padding: 4px;
  width: 550px;
  box-sizing: border-box;
  color: #fff; }
  .toastify--top-left {
    top: 1em;
    left: 1em; }
  .toastify--top-center {
    top: 1em;
    left: 50%;
    margin-left: -275px; }
  .toastify--top-right {
    top: 1em;
    right: 1em; }
  .toastify--bottom-left {
    bottom: 1em;
    left: 1em; }
  .toastify--bottom-center {
    bottom: 1em;
    left: 50%;
    margin-left: -275px; }
  .toastify--bottom-right {
    bottom: 1em;
    right: 1em; }

@media only screen and (max-width: 480px) {
  .toastify {
    width: 100vw;
    padding: 0; }
  .toastify--top-left,
  .toastify--top-center,
  .toastify--top-right {
    left: 0;
    top: 0;
    margin: 0; }
  .toastify--bottom-left,
  .toastify--bottom-center,
  .toastify--bottom-right {
    left: 0;
    bottom: 0;
    margin: 0; } }

.toastify__close {
  padding: 0;
  color: #000;
  font-weight: bold;
  font-size: 12px;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 28px;
  right: 10px;
  opacity: .7;
  transition: .3s ease;
  align-self: flex-start; }
  .toastify__close:hover, .toastify__close:focus {
    opacity: 1; }
  .toastify-content--default .toastify__close {
    color: #000;
    opacity: 0.3; }
    .toastify-content--default .toastify__close:hover {
      opacity: 1; }

.toastify-content {
  position: relative;
  min-height: 48px;
  margin-bottom: 1rem;
  padding: 0px;
  border-radius: 1px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 15px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  max-height: 800px;
  overflow: hidden;
  font-family: sans-serif;
  cursor: pointer;
  border: none; }
  .toastify-content--icon {
    width: 60px;
    float: left;
    padding: 16px 0;
    text-align: center;
    margin-right: 10px;
    font-size: 30px;
    line-height: 45px; }
    .toastify-content--icon i {
      font-size: 40px; }
  .toastify-content--message {
    padding: 10px;
    color: #000;
    line-height: 18px;
    float: left;
    width: 75%; }
  .toastify-content--default {
    background: #fff;
    color: #aaa; }
  .toastify-content--info {
    background: #dbf3f5; }
    .toastify-content--info-icon {
      background: #3498db; }
  .toastify-content--success {
    background: #ddeec6; }
    .toastify-content--success-icon {
      background: #8dc63e; }
  .toastify-content--warning {
    background: #fdf3d9; }
    .toastify-content--warning-icon {
      background: #f1c40f; }
  .toastify-content--error {
    background: #f8cccd; }
    .toastify-content--error-icon {
      background: #ed5257; }
    .toastify-content--error-message {
      background: #f8cccd; }

.toastify__body {
  margin: auto 0;
  flex: 1; }

@media only screen and (max-width: 480px) {
  .toastify-content {
    margin-bottom: 0; } }

@keyframes track-progress {
  0% {
    width: 100%; }
  100% {
    width: 0; } }

.toastify__progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 5px;
  z-index: 999;
  opacity: 0.7;
  animation: track-progress linear 1;
  background-color: rgba(255, 255, 255, 0.7); }
  .toastify__progress--default {
    background: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55); }

@keyframes slide-out-left {
  0% {
    transform: translateX(0%); }
  100% {
    transform: translateX(-100%); } }

.slide-out-left {
  animation: slide-out-left 0.5s ease-in; }

@keyframes slide-in-right {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0%); } }

.slide-in-right {
  animation: slide-in-right 0.5s ease-out; }

@keyframes slide-out-right {
  0% {
    transform: translateX(0%); }
  100% {
    transform: translateX(100%); } }

.slide-out-right {
  animation: slide-out-right 0.5s ease-in; }

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0%); } }

.slide-in-left {
  animation: slide-in-left 0.5s ease-out; }

html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  overflow: hidden; }

#root {
  height: 100%; }

.App {
  height: 100%; }
  .App > div {
    height: 100%; }

.hidden {
  display: none; }

.click-through {
  pointer-events: none; }

@media print {
  @page {
    size: auto;
    margin: 0mm; }
  .no-page-break {
    page-break-inside: avoid !important; } }

.side-by-side-space_between-end {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }

.side-by-side-start {
  display: flex;
  justify-content: flex-start; }

.side-by-side-start-end {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end; }

.side-by-side-center-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.side-by-side-start-stretch {
  display: flex;
  justify-content: space-around;
  align-items: stretch; }

.side-by-side-start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.contacts-loader {
  height: 100%; }
  .contacts-loader #react-no-print {
    height: 100%; }

@media print {
  .print-body {
    width: 90%;
    border-spacing: 10px;
    margin: 0 auto; }
    .print-body .contacts-table-cell {
      vertical-align: top;
      width: 50%;
      border: 1px solid black; }
      .print-body .contacts-table-cell .contact-wrapper {
        margin: 5px; }
        .print-body .contacts-table-cell .contact-wrapper .contact-name {
          font-size: 36px;
          text-align: left; }
        .print-body .contacts-table-cell .contact-wrapper .contact-detail-icon {
          margin-right: 7px; }
        .print-body .contacts-table-cell .contact-wrapper .contact-location-icon {
          padding-top: 12px;
          align-self: flex-start; }
        .print-body .contacts-table-cell .contact-wrapper .contact-address-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: flex-start; }
          .print-body .contacts-table-cell .contact-wrapper .contact-address-wrapper .contact-address {
            text-align: left;
            align-self: flex-start; }
          .print-body .contacts-table-cell .contact-wrapper .contact-address-wrapper .contact-address-details {
            margin-top: -12px;
            text-align: left;
            align-self: flex-start; } }

.delete-selected-dialog-body {
  margin-right: 150px; }

.delete-dialog-body {
  margin-right: 200px; }

.contacts-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee; }
  .contacts-actions .select-all {
    margin-left: 13px;
    margin-top: 16px; }
    .contacts-actions .select-all > span {
      margin-top: -4px; }
    .contacts-actions .select-all .select-all-label {
      margin-left: -10px; }
  .contacts-actions .side-by-side-center-center .multi-toggle-content {
    display: inline-block;
    margin-right: 10px; }
  .contacts-actions .side-by-side-center-center .search-box-wrapper {
    display: inline-block; }
    .contacts-actions .side-by-side-center-center .search-box-wrapper .search-box {
      background-size: 24px 24px;
      background-repeat: no-repeat;
      background-position: left 5.5px top 5.5px;
      border: 1px solid #ddd;
      border-radius: 2px;
      padding-left: 36px;
      height: 35px;
      font-size: 14px;
      margin-right: 10px;
      color: #777; }

.popover .popover-content {
  display: flex;
  flex-direction: column; }
  .popover .popover-content .content {
    display: flex;
    align-items: center; }
    .popover .popover-content .content .content-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .popover .popover-content .content .content-info .secondary-content {
        font-size: 12px;
        text-transform: none;
        font-style: oblique;
        margin-top: -7px; }

.helper-button {
  margin: 10px !important;
  margin-top: 6px !important; }
  .helper-button.popover-option {
    margin: 1.5px !important;
    display: flex;
    justify-content: flex-start; }
  .helper-button span {
    pointer-events: none; }
  .helper-button .helper-button-icon {
    height: 24px;
    width: 24px;
    margin-right: 10px; }
  .helper-button .helper-button-icon-right {
    height: 24px;
    width: 24px;
    margin-left: 10px; }

.icon-button {
  margin: 10px !important;
  margin-top: 6px !important;
  padding: 0; }
  .icon-button .helper-button-icon {
    height: 24px;
    width: 24px; }

.table-wrapper-outer {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: calc(100% - 72px); }
  .table-wrapper-outer .table-wrapper-inner {
    flex: 1; }
    .table-wrapper-outer .table-wrapper-inner .overlay-table {
      overflow: overlay; }
      .table-wrapper-outer .table-wrapper-inner .overlay-table .table-header > tr > th {
        background-color: #ffffff;
        z-index: 1;
        position: sticky;
        top: 0;
        border: 0; }
        .table-wrapper-outer .table-wrapper-inner .overlay-table .table-header > tr > th:after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
        .table-wrapper-outer .table-wrapper-inner .overlay-table .table-header > tr > th .contacts-table-header-cell {
          display: flex;
          align-items: center; }
        .table-wrapper-outer .table-wrapper-inner .overlay-table .table-header > tr > th .contacts-table-header-cell-actions {
          margin-left: 15px; }

.contacts-profile-view {
  flex-wrap: wrap;
  height: calc(100% - 72px);
  overflow: auto; }
  .contacts-profile-view .contact-profile-view {
    margin: 10px;
    display: flex; }
    .contacts-profile-view .contact-profile-view .contact-profile-view-action {
      height: 24px;
      width: 24px; }
    .contacts-profile-view .contact-profile-view .contact-profile-view-actions {
      display: flex;
      flex-direction: column; }
      .contacts-profile-view .contact-profile-view .contact-profile-view-actions .contact-profile-view-action {
        height: 24px;
        width: 24px;
        margin-bottom: 8px; }

.contact-card {
  color: #444444;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  min-width: 250px;
  max-width: 275px; }
  .contact-card .main-details-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5;
    border-bottom: 1px solid #ddd; }
    .contact-card .main-details-wrapper .contact-actions {
      display: flex;
      justify-content: space-between;
      width: 100%; }
      .contact-card .main-details-wrapper .contact-actions .contact-image {
        border: 1px solid #ddd;
        border-radius: 60px;
        height: 120px;
        width: 120px; }
    .contact-card .main-details-wrapper .contact-name {
      margin: 5px;
      color: #222222;
      font-size: 24px;
      white-space: initial;
      text-align: center; }
  .contact-card .contact-detail-line {
    margin: 8px; }
    .contact-card .contact-detail-line.contact-address-wrapper {
      margin-top: 12px; }
    .contact-card .contact-detail-line .contact-detail-email {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .contact-card .contact-detail-line .contact-detail-icon {
      margin-right: 5px; }

.text-field {
  margin-top: 10px !important;
  margin-bottom: 10px !important; }

.left-text-field {
  margin-right: 10px !important; }

.right-text-field {
  margin-left: 10px !important; }

.text-fields-container {
  display: flex;
  justify-content: space-between; }
  .text-fields-container .profile-pic-wrapper {
    position: relative; }
    .text-fields-container .profile-pic-wrapper .profile-pic {
      height: 120px;
      width: 120px;
      border-radius: 60px;
      margin: auto 20px auto 10px;
      cursor: pointer; }
    .text-fields-container .profile-pic-wrapper .profile-pic-delete {
      position: absolute;
      top: 70px;
      right: 15px;
      height: 40px;
      width: 40px;
      border-radius: 20px; }

.contact-details {
  color: #444444; }
  .contact-details .main-details-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 8px; }
    .contact-details .main-details-wrapper .contact-image {
      border: 1px solid #ddd;
      border-radius: 100px;
      height: 200px;
      width: 200px; }
    .contact-details .main-details-wrapper .contact-name {
      font-size: 48px;
      text-align: center; }
  .contact-details .contact-detail-line {
    margin-bottom: 8px; }
    .contact-details .contact-detail-line.contact-address-wrapper {
      margin-top: 12px; }
    .contact-details .contact-detail-line .contact-detail-icon {
      margin-right: 5px; }
    .contact-details .contact-detail-line .contact-location-icon {
      padding-top: 12px;
      padding-right: 10px; }

.set-print-area-dialog-body {
  overflow: hidden; }
  .set-print-area-dialog-body .cover-print-area-settings-container {
    height: 300px;
    width: 500px;
    overflow: auto;
    background-color: #fff8dc; }
    .set-print-area-dialog-body .cover-print-area-settings-container .cover-print-area-settings-content {
      border: 1px solid black;
      display: inline-block;
      vertical-align: top;
      cursor: move; }
      .set-print-area-dialog-body .cover-print-area-settings-container .cover-print-area-settings-content:before {
        content: "";
        position: absolute;
        top: 50%;
        left: -100vw;
        right: 100%;
        height: 1px;
        background: #eee; }
      .set-print-area-dialog-body .cover-print-area-settings-container .cover-print-area-settings-content:after {
        content: "";
        position: absolute;
        top: -100vw;
        left: 50%;
        bottom: 100%;
        width: 1px;
        background: #eee; }
      .set-print-area-dialog-body .cover-print-area-settings-container .cover-print-area-settings-content .left-ruler {
        position: absolute;
        top: 40%;
        left: -125px;
        border: 1px solid #eee;
        padding: 5px 10px;
        border-radius: 5px;
        background: white; }
      .set-print-area-dialog-body .cover-print-area-settings-container .cover-print-area-settings-content .top-ruler {
        position: absolute;
        left: 33%;
        top: -70px;
        border: 1px solid #eee;
        padding: 5px 10px;
        border-radius: 5px;
        z-index: 1;
        background: white; }
      .set-print-area-dialog-body .cover-print-area-settings-container .cover-print-area-settings-content .contact-name {
        font-size: 36px;
        text-align: left; }
      .set-print-area-dialog-body .cover-print-area-settings-container .cover-print-area-settings-content .contact-detail-icon {
        margin-right: 7px; }
      .set-print-area-dialog-body .cover-print-area-settings-container .cover-print-area-settings-content .contact-location-icon {
        padding-top: 12px;
        align-self: flex-start; }
      .set-print-area-dialog-body .cover-print-area-settings-container .cover-print-area-settings-content .email-wrapper {
        margin-top: 5px;
        margin-bottom: -8px; }
      .set-print-area-dialog-body .cover-print-area-settings-container .cover-print-area-settings-content .contact-address-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start; }
        .set-print-area-dialog-body .cover-print-area-settings-container .cover-print-area-settings-content .contact-address-wrapper .contact-address {
          text-align: left;
          align-self: flex-start; }
        .set-print-area-dialog-body .cover-print-area-settings-container .cover-print-area-settings-content .contact-address-wrapper .contact-address-details {
          margin-top: -12px;
          text-align: left;
          align-self: flex-start; }
